<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Fun's site</title>

    {% load static %}
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#!">Фанатский сервер одной известной MMORPG</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'ads_list' %}">Все
                    объявления</a></li>
                <li class="nav-item"><a class="nav-link active" href="{% url 'ad_create' %}">Опубликовать</a></li>
                <li class="nav-item"><a class="nav-link active" href="{% url 'my_ads' %}">Моя страничка</a></li>
                <li class="nav-item"><a class="nav-link active" href="/about/">О сайте</a></li>
                {% if isaut %}
                    <li class="nav-item"><a class="nav-link active" href="/accounts/logout/">Выйти</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link active" href="/accounts/login/">Войти</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link" aria-current="page" href="/admin/">Administration</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        {% block content %}
        {{ flatpage.content }}
        {% endblock content %}
    </div>
</div>

<p><strong>&nbsp;</strong></p>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Fun's site 2022</p></div>
</footer>


</body>
</html>
