{% extends 'flatpages/default.html' %}



{% block content %}
<h3> Страница подтверждения процедуры удаление объявления </h3>
<hr>

<form style="font-size: 1.2em; text-align: left;" action="" method="post">
    {% csrf_token %}
    <p>Вы уверены, что хотите удалить отклик пользователя {{object.user}}</p>
    <p>"{{ object.text }}" </p>

    <input align="left" type="submit" value="Я уверен, что хочу УДАЛИТЬ этот отклик!"/>
</form>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>

{% endblock content %}